**/bin
**/obj
**/node_modules
**/.vs
**/.vscode
**/TestResults
**/*.user
**/*.suo
**/logs
**/npm-debug.log
**/dist
**/.DS_Store
**/Dockerfile
**/docker-compose*.yml
**/.dockerignore
**/.git
**/.gitignore
**/README.md
**/*.md
